<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @agent.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agent.email %>
</p>

<p>
  <strong>Working:</strong>
  <%= @agent.working %>
</p>

<p>
  <strong>Employeenum:</strong>
  <%= @agent.employeeNum %>
</p>

<p>
  <strong>Other:</strong>
  <%= @agent.other %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
