<div class="container">
	<h1>Articles collection</h1>


<div class="row">
	<div class="col-3"><%= image_tag("red-cross-hospital.png", class: "img-fluid img-thumbnail", alt: "red background with white medical cross ") %>
	</div>
	<div class="col-9">
		<div class="card-body">
		    <h3 class="card-title">Applince Hospitals!</h3>
		   
		    <a href=<%= hospital_path %> class="btn btn-primary">Where do Appliances go when they are sick</a>
		  </div>
	</div>
</div>

<div class="row">
	<div class="col-3"><%= image_tag("stove-applinace-knob-repair.png", class: "img-fluid img-thumbnail", alt: "control bar of stove or range knobs") %>
	</div>
	<div class="col-9">
		<div class="card-body">
		    <h3 class="card-title">Parts and Why they matter</h3>
		   
		    <a href=<%= parts_path %> class="btn btn-primary">Why do parts cost so much</a>
		  </div>
	</div>
</div>

<div class="row">
	<div class="col-3"><%= image_tag("home-repair-applinace-fix.png", class: "img-fluid img-thumbnail", alt: "Home improvments, home warranty come on top of calculator") %>
	</div>
	<div class="col-9">
		<div class="card-body">
		    <h3 class="card-title">Extended warranties</h3>
		   
		    <a href=<%= warranties_path %> class="btn btn-primary">Is that extended warranty really worth it?</a>
		  </div>
	</div>
</div>

<div class="row">
	<div class="col-3"><%= image_tag("repair-near-me.png", class: "img-fluid img-thumbnail", alt: "Home improvments, home warranty come on top of calculator") %>
	</div>
	<div class="col-9">
		<div class="card-body">
		    <h3 class="card-title">Appliance Repair Near me</h3>
		   
		    <a href=<%= nearme_path %> class="btn btn-primary">Appliance Repair Near me Now Please!</a>
		  </div>
	</div>
</div>

<div class="row">
	<div class="col-3"><%= image_tag("style-brand-match.png", class: "img-fluid img-thumbnail", alt: "what appliance brand is best image of various neck ties") %>
	</div>
	<div class="col-9">
		<div class="card-body">
		    <h3 class="card-title">What Appliance Brand is best</h3>
		   
		    <a href=<%= best_path %> class="btn btn-primary">What Brand Makes the best Appliance</a>
		  </div>
	</div>
</div>

<div class="row">
	<div class="col-3"><%= image_tag("car-repair-old-new.png", class: "img-fluid img-thumbnail", alt: "How much should repair cost image of old car") %>
	</div>
	<div class="col-9">
		<div class="card-body">
		    <h3 class="card-title">Cost Of Appliance Repair near you</h3>
		   
		    <a href=<%= cost_path %> class="btn btn-primary">How much Should a Repair Cost?</a>
		  </div>
	</div>
</div>





































</div>