


	
<h1> best </h1>


<div class="container  content">
	<div class="row">
		<%= image_tag("banner-red-cross-appliance-hospital", class:"img-fluid pb-3", alt: "Warranty fineprint look close") %>

	</div>
	<div class="row " id="title">
		<div class="col-xs lead pt-4">
					<h1> How much does Appliance repair cost? </h1>
		</div>
		<div class="w-100"></div>
		<div class=" col pb-4">
			<strong>By: Oscar Chairez March 07, 2015</strong>
		</div>
	</div>
	<div class="row " >
		 <div class="col-md-3 d-none d-md-block pt-4 " > 
		 	<div class="sticky-top ">
		 	
		 	<h4>Appliance Hospital</h4>

		 	<ul class="legend">
				<li><a href="#1">3 Factors of Cost</a></li>
				<li><a href="#2">Free Estimate</a></li>
				<li><a href="#3">steps to add the cost your-self</a></li>
				<li><a href="#4">The Labor Fee</a></li>
				<li><a href="#5">Parts Price</a></li>
				<li><a href="#6">Finale</a></li>
			</ul>
		</div>
	    </div>


		<div class="col-md">
			
			<div class="row ">

				<div class="col-lg p-4">
					<h4 id="1">3 Factors of Cost</h4>
					
The answer is dependent on where you live and what kind of repair you will need. Keep reading for a more in-depth explanation. 
</br>
 
There are essentially 3 numbers that add up to give the ultimate total for a repair. A repair will involve the following 3 charges in some way or another. The dispatch fee; otherwise known as  diagnostic fee, the labor fee, and the what ever the total parts cost comes out to be. If things sound confusing already, don’t worry. There is all sort of clever ways that a repair shop will try and structure a fee to make it seem less than too much. 
				</div>
				<div class="w-100"></div>
				
				<div class="col-lg p-4">
					<h4 id="2">Free Estimate</h4>
					
	Get a free Appliance repair estimate:
There is an economic term and it goes like this, there is no such thing as a free lunch. If you are after a free estimate then go ahead and click on the next link, but if you want a low-cost estimate then continue reading and I can tell you how to save time and money. Read my Article on repair vs replace to get details on how to make this decision on your own. Check out the repair cost article where I talk about what you need to consider and how to make important decisions that will ultimately save you time and money. You can also call us today and we can help you. 
Hindsight is 2020, often times after spending a couple hundred dollars do you figure out that you are ultimately going to have to buy a new appliance. Your only regret is not making that decision sooner, when you spend money to have someone tell you your appliance is beyond repair. Here is how to figure out how to what a repair is likely to cost you  

				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_tag("drain-pump-dishwasher", class: "img-fluid img-thumbnail", alt: "Drain pump Repair Waser appliance parts") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Appliance Parts</h3>
					   
					    <a href=<%= parts_path %> class="btn btn-primary">why parts cost so much, and how to get them cheap</a>
					  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4">
					<h4 id="3">steps to add the cost your-self</h4>
					
	step 1: figure out how much it takes to get a professional out to you: skip this step if you are going to do it yourself, but expect to spend more time on the other two steps.
</br>
 
A quick online search of all the repair shops in your area should give you a healthy list of phone numbers that you can call to get prices on getting a repairman out to your house. Pro tip: go ahead and ask them when their next available date is, and if they work on your brand of appliance. So after making a few calls you should have a list consisting of very cheap repairman and a very expensive repairmen. Check out some reviews and see why the shops are either cheap or expensive. Are they cheap because they run late and cancel appointments or are they cheap because they don’t actually ever fix anything? The same goes for the expensive guy, do they charge a lot to fix it right the first time, or do they drive fancy vans that cost a lot of money to maintain. It will be difficult to get the whole picture about the integrity of a repair shop, just from looking at a few reviews. So, take any criticism or praise that you find on the internet with a grain of salt. The internet does a great job of highlighting what people are bad at, this doesn’t mean that there are no good repair shops. As a word of caution: repair shops are not magic they don’t just know what is wrong with your appliance. Fixing machines is difficult and not an exact science. We repairpersons do not know exactly how or why your machine broke, that is the honest truth, we try our best to figure it out.
</br>

Not all repairs are easy, some are downright mysterious, so if you think that your problem is difficult then choose a repair shop with a good guarantee on repairs. If your repair is simple and you just need someone with the right tools to do it then don’t worry about getting someone expensive or with a good guarantee; you're just paying for labor and not the expertise to solve that hard to solve the issue. A call with us will help you figure out how difficult your repair is going to be.

				</div>
				<div class="w-100"></div>
				
				<div class="col-lg p-4">
					<h4 id="4">The Labor Fee</h4>
					
	Step 2: figure out the labor fee
</br>
If this is a DIY then consider how inconvenienced you will be if you can’t get this fixed as fast as you think. Will the wife be mad that the dishwasher is broken for a month or have you volunteered to wash them till you fix the dishwasher. Also consider what could go wrong, saving a few hundred on a repair won’t save you much if you ruin your house because of a leak. Repair shops will charge you not for the amount of time that something took but the size of the problem they solved for you. So 15 minutes of labor may cost you 60 dollars only because the repair person that did the work did what would have taken you a day. Charging you 60 dollars to save you hours, doesn’t sound so bad does it. 
15 minutes is on the light side of a repair the average is probably closed to 120 dollars. Or about an hour spent in your home finding a problem, suggesting a solution, and executing a repair to satisfaction. Again consider what the cost of you doing it yourself would be. Guarantees are the only real value in paying for labor because it is the only way to hold someone accountable for their work. I would rather pay fair labor for a fair guarantee than cheap labor for no guarantee. Check reviews to see how accountable repair shops are to the people they serve. 
				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_tag("warranty-cost-worth-it.png", class: "img-fluid img-thumbnail", alt: "radiant heating elment appliance part for stove") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Card title</h3>
					   
					    <a href=<%= warranties_path %> class="btn btn-primary">What you need to know about extended warranties</a>
					  </div> 
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="5">Parts Price</h3>
					
	Step 3 Figure out the cost of a part: For the price of the part you’re going to spend more than a professional because you probably won’t replace the correct part the first time and you may end up breaking things on your journey towards fixing something. On top of getting the wrong part and breaking stuff, you also don’t have the discount that the pros get. 
</br>
Parts pricing can often have more questions than answers. For example should you buy an expensive part or get the cheap option; well, the outcome of your decision is evident months or years after you have made them. Check out our article on parts***** to see why this topic is so complicated. Essentially, there are decisions to be made on the quality of the replacement part, and whether or not a replacement is necessary. In general, you want to repair parts that wear and tear even if they are not yet broken, a part that does not see a lot of actuall work such as sensors can be left alone. Safety components often see a lot of use because they must be in working order each time you use the appliance. A professional will be able to tell you where to spend money and where you can afford to skimp. Check out the parts article to get the in-depth explanation in parts. It is very difficult to determine with precision what parts a repair will require and how much that part will cost, so don’t try to be exact with this figure but also be prepared for large figures. Electrical components such as control boards and sensors and cosmetics components often cost the most because the manufacture holds patents on these pieces and therefore controls the price, which is often high in-order to recuperate the cost of the development of that product. 
				
			</div>

			
	</div>

	<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="6">Conclusion</h3>
					
	In conclusion, the repair of an appliance is going to be just below the threshold for you buying a new appliance, and right above the point of outrageous. What you want is to hire a repair shop that will charge just once to fix your appliance because they stand behind their work. Don’t get dragged along by a repair shop that charges you each time they come out to try and fix your appliance. Don’t fall for repair shops that charge you to go out and tell you your appliance is broken, they never intended to fix your appliance, move on and make sure others don’t fall for their scam.  Give us a call if you still don’t know how much the repair on your appliance should cost.

				
			</div>

			
	</div>

</div>
<%= render 'web_calls/form', web_call: @web_call %>


	
