
<div class="container-fluid px-0 ">

	<strong id="notice" class="alert-heading"><%= notice %></strong>

	<div class="card border-0">
 		 
  		<%= image_pack_tag("frontDoor-sunshine-how-can-we-help.png", class: "card-img w-100", alt: "how can we help fix your appliance") %>
      
     

		<div class="card-img-overlay me">		
			<p class=" textme noDisplay" >How can we help?
      </br>
				<%= image_pack_tag("fridge2.svg", class: " art", alt: " nothign") %>
				<%= image_pack_tag("wash.svg", class: "art ", alt: " nothign") %>
				<%= image_pack_tag("dry.svg", class: " art", alt: " nothign") %>
				<%= image_pack_tag("stove.svg", class: " art", alt: " nothign") %>
				<%= image_pack_tag("dish.svg", class: "art", alt: " nothign") %>
        <%= image_pack_tag("microwave.svg", class: "d-sm-inline d-none art", alt: " nothign") %>
				</p>		
		</div>

	</div>
	<div class="pb-5">
		<div class="row py-1  ">
			<div class="col-md-3 pt-3  ">
				<div class="card h-100 ">
				  <div class="card-body d-flex flex-column ">
				    <h5 class="card-title ">Call Now</h5>
				    <p class="card-text">When you call our service center, there is always a helpful American ready to listen and give you the best advice to fix whatever problem you may be facing.
</p>
				    <button type="button" class="btn btn-primary mt-auto" data-toggle="modal" data-target="#callNowModal">Help when you need it here</button>     
				  </div>
				</div>
			</div>

		  <div class="col-md-3 pt-3">
		    <div class="card h-100">
		      <div class="card-body d-flex flex-column">
		        <h5 class="card-title">National Service<%= Rails.env %></h5>
		        <p class="card-text">No matter where in these great states you may live, we have to network to get you expert help where ever you may need it
</p>
		        <button type="button" class="btn btn-primary mt-auto" data-toggle="modal" data-target="#nationalModal">National support for every Appliance here</button>
		      </div>
		    </div>
		  </div>

		  <div class="col-md-3 pt-3">
		    <div class="card  h-100">
		      <div class="card-body d-flex flex-column">
		        <h5 class="card-title">Experts</h5>
		        <p class="card-text">Our experts know you are facing a problem that is out of your control. We always know what your next step is To get your problem resolved</p>
		        <button type="button" class="btn btn-primary mt-auto" data-toggle="modal" data-target="#expertsModal">Hindsight is 2020, experts advise is here</button>     
		      </div>
		    </div>
		  </div>

		  <div class="col-md-3 pt-3 ">
		    <div class="card h-100">
		      <div class="card-body d-flex flex-column">
		        <h5 class="card-title">Resources</h5>
		        <p class="card-text">You can count on expert resources pulled directly from manufactures or technicians with years of experience. </p>
		        <button type="button" class="btn btn-primary mt-auto" data-toggle="modal" data-target="#resourcesModal">What Resources do we Have?</button>

		      </div>
		    </div>
		  </div>

		</div>
	</div>

		<%= render 'web_calls/form', web_call: @web_call %>
  </div>

</div>

<div class="modal fade" id="callNowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Call Now</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        There are currently <%= @working %> techs waiting to take you call
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">
<a href="tel:5037828100">Call now 555-428-0940</a>
</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="nationalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">National</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Repairs always cost money, but not all repairs have to be a pain. Call us before you spend hundreds of dollars on an appliance
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="location.href='<%= nearme_path %>';" class="btn btn-primary">Find tech in your area</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="expertsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Experts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No one else will be as upfront, and direct on what your appliance repair will be, like we can.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-toggle="modal" data-dismiss="modal" data-target="#exampleModal" class="btn btn-primary">Schedule call</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="resourcesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resources</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Info on all the Tech tips and tricks
      </br>Ins and outs on warranties</br>
      How this works ;)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="location.href='<%= article_path %>';">Check it out</button>
      </div>
    </div>
  </div>
</div>
