
<div class="container  content">
	<div class="row">
		<%= image_pack_tag("banner-red-cross-appliance-hospital.png", class:"img-fluid pb-3 w-100", alt: "Warranty fineprint look close") %>

	</div>
	<div class="row " id="title">
		<div class="col-xs lead pt-4">
					<h1>Hospital for Appliances</h1>
		</div>
		<div class="w-100"></div>
		<div class=" col pb-4">
			<strong>By: Oscar Chairez Jan 03, 2015</strong>
		</div>
	</div>
	<div class="row " >
		 <div class="col-md-3 d-none d-md-block pt-4 " > 
		 	<div class="sticky-top ">
		 	
		 	<h4>Appliance Hospital</h4>

		 	<ul class="legend">
				<li><a href="#1">What to do if your appliance is sick</a></li>
				<li><a href="#2">Where do you take broken appliances</a></li>
				<li><a href="#3">What is a doctor for appliances</a></li>
				<li><a href="#4">Do appliances need medicine?</a></li>
				<li><a href="#5">Is there insurance for appliances?</a></li>
			</ul>
		</div>
	    </div>


		<div class="col-md">
			
			<div class="row ">

				<div class="col-lg p-4">
					<h4 id="1">What to do if your appliance is sick</h4>
					
You wake up one day and decided to run the dishwasher with the dishes from the night before. To your surprise, your machine is not responding and just sits there with a grim look on its face. When people get sick they usually go to a hospital. They see a doctor who can take descriptions from the sick person, and together they come up with a diagnostic and a cure for the sick patient. So what happens when a machine is sick? Keep reading to get the low down on what to do when your appliance in your new home or new apartment breaks down.
				</div>
				<div class="w-100"></div>
				
				<div class="col-lg p-4">
					<h4 id="2">Where do you take broken appliances</h4>
					
	Naturally, there must be some kind of hospital for appliances right. Well, there is a hospital for appliances, but only they are called repair shops. Repair shops are the hospital for appliances because when your appliance is not feeling good enough to the job that you bought it for. So, what you would do then is take it to a repair shop where the doctors there can talk to the sick patient and determine what is wrong. If you live in an apartment then you can just call the maintenance people for the property. 

				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_pack_tag("drain-pump-dishwasher.png", class: "img-fluid img-thumbnail", alt: "Drain pump Repair Waser appliance parts") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Appliance Parts</h3>
					   
					    <a href=<%= parts_path %> class="btn btn-primary">why parts cost so much, and how to get them cheap</a>
					  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4">
					<h4 id="3">What is a doctor for appliances</h4>
					
	Technicians are what you would call a doctor for sick machines. Although technicians don’t go to nearly as much school as a doctor would, they do have an expertise that's worth the money they charge. When you get sick you can either go to the hospital or you can call an ambulance, likewise, when your appliance gets sick you can take it to a repair shop or you can have the technician make a house call. Most appliances are cumbersome to move and take time to uninstall from the permeant place they are installed in. So, technicians come to your home with all the necessary tools to figure out what is wrong with the patient. 
				</div>
				<div class="w-100"></div>
				
				<div class="col-lg p-4">
					<h4 id="4">Do appliances need medicine?</h4>
					
	some times when you are sick you require a trip to the pharmacy where you pick up a prescription for medicine that the doctor has said that you need to take if you want to get better. A technical may determine that your sick appliance needs a part replacement, so that it may feel all better, just as medicine costs money, parts also cost money. The price of a part may be  little or a whole arm and a leg. They age and sophistication of your appliance will play a big part in determining the price of part. Read our article on parts prices to get a better understanding on the price of parts.
				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_pack_tag("warranty-cost-worth-it.png", class: "img-fluid img-thumbnail", alt: "radiant heating elment appliance part for stove") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Card title</h3>
					   
					    <a href=<%= warranties_path %> class="btn btn-primary">What you need to know about extended warranties</a>
					  </div> 
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="5">Is there insurance for appliances?</h3>
					
	A broken bone is costly to a person and a broken appliance is too. But people have insurance that they can use to cover the cost of a big medical bill, do appliances have anything similar? The answer is a resounding yes, manufacturers give a warranty usually for one year after you buy the appliance, and they also offer to sell you what is called an extended warranty that will give you added protection beyond the regular one year period. 

	so when your appliance is sick and needs a doctor or a hospital to go to. Search the internet for appliance hospitals near you or simply search for appliance repair for more direct results. Got to a repair shop with a good reputation and inform yourself on what the possible cost you may incur with your broken appliance. 
				
			</div>
	</div>

	
	 <div class="alert alert-success py-5" role="alert">

      <a href="<%= article_path %>">More informative resources</a>

      </div>

</div>
<%= render 'web_calls/form', web_call: @web_call %>


	
