
<div class="container  content">
	<div class="row">
		<%= image_pack_tag("banner-Portland-oregon-appliance-repair.png", class:"img-fluid pb-3 w-100", alt: "skyline view of portland Oregon") %>

	</div>
	<div class="row " id="title">
		<div class="col-xs lead pt-4">
					<h1>Appliance Repair near you</h1>
		</div>
		<div class="w-100"></div>
		<div class=" col pb-4">
			<strong>By: Oscar Chairez May 15, 2015</strong>
		</div>
	</div>
	<div class="row " >
		 <div class="col-md-3 d-none d-md-block pt-4 " > 
		 	<div class="sticky-top ">
		 	
		 	<h4>Appliance repair</h4>

		 	<ul class="legend">
				<li><a href="#1">Ask your self this</a></li>
				<li><a href="#2">Appliance 2020</a></li>
				
			</ul>
		</div>
	    </div>


		<div class="col-md">
			
			<div class="row ">

				<div class="col-lg p-4">
					<h4 id="1"></h4>
					
When you need help, options for appliance repair abound. There are many things to consider when picking an appliance repair shop that is close to you. Take a look at our quick checklist before you settle on a repair person for your appliance.

The biggest hassle in any service call, be it a repair for a fridge or repair for a microwave; is having to wait for the repair person to show up. An appliance repair appointment is always near when you call us. We promise that a qualified technician will always answer the phone when you call. How long till an appointment is available is only one phone call away. 
				</div>
				<div class="w-100"></div>
				
				<div class="col-lg p-4">
					<h4 id="2">How to tell a good Tech from the bad</h4>
					
	Call Appliance 2020 for information on your appliance repair. Parts cost, labor cost, and any fees are upfront and direct from the start, to save you time and money. Appliance repair technicians are always available to evaluate and repair your broken appliance. Take advantage of our guaranteed estimate to save even more time and money. We will service your washer, refrigerator, microwave, dryer, stove, and ovens.

How will you know the difference between a good service call and a bad service call? Here are a few things to keep in mind when you schedule a repair for your appliance. 

	1- Did the technician just repair what was broken or did he look for other possible problems
	2- Was the repair explained so that you know how the appliance broke and why it needed a repair?
	3- Did the appliance repair technician give you any tips on how to prolong the life of your appliance
 

				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_pack_tag("red-cross-hospital.png", class: "img-fluid img-thumbnail", alt: "red background with white medical cross ") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Applince Hospitals!</h3>
					   
					    <a href=<%= hospital_path %> class="btn btn-primary">Where do Appliances go when they are sick</a>
					  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4">
					<h4 id="3">here are the key thing to do if you want to get the most out of your extended warranty.</h4>
					
	Appliance 2020 is happy to serve the residence from Beaverton to Vancouver, Gresham to Tigard and Portland. Call for a service appointment on your broken appliance today. A live person that doesn’t read from a scrip, and can understand you is always ready to help. When you are looking for an appliance repair near you, you shouldn’t have to make more than one phone call. A resolution for your broken appliance is only a phone call away. No dispatch fee with our guaranteed appointment, 


				</div>
				<div class="w-100"></div>
				
			<div class="col-lg p-4">
					<h4 id="4">Hire someone Reputable</h4>
					
	
Don't wait days for an appliance repair. A service appointment for your appliance is near you today. Call Appliance 2020 today and speak with a live person that can tell you what you can expect to pay for your repair, we guarantee it. If we can’t get to your appliance, we can recommend a repair service company near you that can come. Find out if your appliance is beyond repair or if you are better off buying a new one. Repair vs replace which one is best for you, call for a guaranteed estimate and find out today. 
				</div>
			</div>
			<div class="row pb-4">
				<div class="col-3"><%= image_pack_tag("stove-applinace-knob-repair.png", class: "img-fluid img-thumbnail", alt: "control bar of stove or range knobs") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Parts and Why they matter</h3>
					   
					    <a href=<%= parts_path %> class="btn btn-primary">Why do parts cost so much</a>
					  </div>
				</div>
			</div>

	 <div class="alert alert-success py-5" role="alert">

      <a href="<%= article_path %>">More informative resources</a>

      </div>
			

</div>
<%= render 'web_calls/form', web_call: @web_call %>


	
