
<div class="container  content">
	<div class="row">
		<%= image_tag("banner-appliance-parts", class:"img-fluid pb-3", alt: "Warranty fineprint look close") %>

	</div>
	<div class="row " id="title">
		<div class="col-xs lead pt-4">
					<h1>Appliance Parts why are they So Much $$$</h1>
		</div>
		<div class="w-100"></div>
		<div class=" col pb-4">
			<strong>By: Oscar Chairez June 03, 2015</strong>
		</div>
	</div>
	<div class="row " >
		 <div class="col-md-3 d-none d-md-block pt-4 " > 
		 	<div class="sticky-top ">
		 	
		 	<h4>Appliance Parts</h4>

		 	<ul class="legend">
				<li><a href="#1">Top Questions</a></li>
				<li><a href="#2">Repair People are their to Help You</a></li>
				<li><a href="#3">Parts Vs Labor Cost</a></li>
				<li><a href="#4">When to fix & when to replace</a></li>
				<li><a href="#5">Why parts online are Cheaper</a></li>
				<li><a href="#6">OEM or Aftermarket Parts</a></li>
				<li><a href="#7">What if Parts arent available anymore</a></li>
				<li><a href="#8">Before you buy a water filter</a></li>
				<li><a href="#9">Why did my appliance break?</a></li>
			</ul>
		</div>
	    </div>


		<div class="col-md">
			
			<div class="row ">

				<div class="col-lg p-4">
					<h4 id="1"> When it comes to appliance parts the questions customers often have are:</h4>
					
 When it comes to appliance parts the questions customers often have are:
</br>
</br>
1: Why does this part cost as much or more, as the labor?
</br>
2: Why are you charging me four times as much as I can get it for
  online?
</br>
3: What happens if this part does not fix the problem or if this part breaks down again?
</br>
4: Why does it take so long for an appliance part to be ordered. 
</br>
Read this short article that describes the reasons why answers to the above four questions are not as simple as we would like them to be. 

				</div>

				<div class="w-100"></div>
				
				<div class="col-lg p-4">
					<h4 id="2">Repair People are their to Help You</h4>
					
	
When it comes to appliance part’s prices, installation, and availability it is important to keep a couple things in mind: appliance repair technicians did not build your machine. Appliance repair is much like auto repair, we fix what you or someone else broke. Repair is not as simple as reading a manual or plugging in a computer that tells you what is broken on an appliance. If you are in luck, a repair will not need a part at all, but if you are like the vast majority of people with a broken appliance, then your repair will either only work once a part has been replaced or will benefit greatly from a new part. For example, your appliance may not have a broken part, but your technician recommends a new part so that you can get longer use from your appliance or so that you can maximize the value from that in-person repair visit.  

				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_tag("red-cross-hospital.png", class: "img-fluid img-thumbnail", alt: "red background with white medical cross ") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Applince Hospitals!</h3>
					   
					    <a href=<%= hospital_path %> class="btn btn-primary">Where do Appliances go when they are sick</a>
					  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4">
					<h4 id="3">1: Why does this part cost as much or more, as the labor?</h4>
					
	
We arrive at the biggest question when it comes to appliance repair vs replace or part cost vs labor cost. A technician often has to ask themself the question, “should I replace this part or just repair it?” It is similar to the way you, as the consumer, must make the financial decision to repair or replace your appliance as a whole. Owners of major appliances have many questions to consider when repairing or replacing appliances. I am going to tell you what a technician must consider when they are in your home faced with your broken appliance. 
As an experienced technician, I often have to contend with many things aside from just fixing an appliance. Many times I have to consider things such as how long is this appliance going to last after I leave, is my customer convinced that their appliance is fixed, and is the replaced part really going to fixed the appliance. Because this is an article on parts, I will focus solely on the effect of parts and their impact on an appliance repair and how you, as a consumer, can either make the decision to repair your appliance as a DIY project or pay a professional to do the work for you. Saving money is not as simple as comparing two numbers and going with the price that is the least of the two options. There is a saying good work ain't cheap and cheap work ain't good.
 </br>
Let us compare a common repair on a common appliance. Everyone has a stove in their kitchen, be it gas or electric, and the part that most often fails on both of these major appliances are heating elements. Let’s say that your stove is no longer baking as it should. You have the decision of going to the department store and buying a new stove or taking some steps to figure out how to get your appliance back to its usual working order again. Unless you are made of money, you more than likely want to know why it is that your oven no longer works. So, you open up the oven and check if you see anything out of the ordinary. For one, you can see that the oven does not get hot when you turn it on; it is completely dead. Well, here is one of the key things I will tell you as a self-anointed technical person— your skills of observation are often directly proportional to your skills of fixing. That is to say, your ability to fix something is tied to your ability to tell to what degree it is broken. So, back to our example, your oven is not baking, and most ovens have a broil— is that working? How about your stovetop, is that working? Is your oven not baking at all, as in it is stone-cold, or is it just getting a little bit warm, but not enough?
				</div>
				<div class="w-100"></div>
				
			<div class="col-lg p-4">
					<h4 id="4">When to fix & when to replace</h4>
					
	
These questions, and others like it, are all great questions that you can ask yourself to help you determine if you can fix the issue on your own or if you should call a professional or maybe even go ahead and buy a new appliance. But let’s get back to how this pertains to parts on your appliance repair. When faced with the question of repair vs replace the question you, as the owner of the appliance should ask yourself are: how often does this part break down; how difficult is it to replace; and lastly, how much does it cost to replace this item?
The cost of replacing a bake element on a standard electric oven is about 20 dollars for the part itself, another 60 to 100 dollars in labor, and maybe a dispatch fee for a technician of another 100 dollars. I can tell you that replacing a bake element on most ovens is not a difficult task and takes about 20 minutes; it is the bread and butter of any repair shop because the part is cheap, the repair is straight forward, and the failure rate on a bake element is high. Bake elements fail often not because human civilization is in its infancy and we just cannot figure out how to make a good oven, but rather it is because the bake element, along with the heating elements on the stop top is the hardest working components in a stove. Everyone cooks at least once on a stove each and every day; so, things are going to break eventually. It is commons for ovens to need new heat elements because they do the most work. The question that you need to ask yourself is “do I repair or replace this bake element? Consider that you definitely should not repair anything that is meant to take wear and tear. For example, you do not repair the brake pads on your car, you replace them. As a matter of fact, when one of your wheels starts making a grinding noise, you take it to a mechanic who tells you that one of your breaks needs to be replaced. Under the advice of a professional, you go ahead and replace all the breaks necessary. Likewise, if you are going to take the time to replace one heating element on your stove you may as well save some money and replace all of them, or at least the ones that you can afford. 
In summary, on the question of “should I repair or replace an appliance part,” the answer is to replace parts that are wear and tear items. Check out this list of wear and tear items. Table 124z********: Drain pumps, heating elements, door switches, anything that either carries a lot of currents. Or replace it if it is something that is likely reaching the end of its useful life and is hard to get to. For example, I may replace a drain motor that is five years old, even if I could remove a clog, and the homeowner would still get some use out of the existing drain pump. New parts are always going to be better than old parts for an appliance. The more appropriate question is would the homeowner be better served by a new part or not. That decision is better left to the homeowner. It is the job of a technician to provide the homeowner with as much information so that they can make the best decision. Keep reading so that you know what kind of information you should get from your technician. 
				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_tag("home-repair-applinace-fix.png", class: "img-fluid img-thumbnail", alt: "Home improvments, home warranty come on top of calculator") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Extended warranties</h3>
					   
					    <a href=<%= warranties_path %> class="btn btn-primary">Is that extended warranty really worth it?</a>
					  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="5">Why is online Cheaper</h3>
					
	Question two: Why is the part so expensive when I can buy it online for much cheaper? The answer to this question is much more direct than the previous question because I solely rest on the principles of economics, supply, and demand. A technician who carries parts in his or her van, and waits for the right customer, is in control of the price. If you, as the homeowner, want your appliance fixed right then and there, you are at the mercy of the person holding the solution to your problem, i.e the technician. On the other hand, if you do not care about when, or if your appliance gets fixed, then you can determine what price you pay for that part. You are by all means allowed to order that part for 5 dollars and install it yourself. I am not going to try and convince you on whether the technician you hired is ethical or if they are taking advantage of you. Technicians and repair shops have many ways to convince you that buying their part at a 200% markup is better than you buy it yourself. Here are some ways that repair shops will try to make more money off you. One, they will not install any parts that you buy for them. The reason for that is because repair shops do not want to risk installing a part their employees did not find as it may not be the right one, it may be faulty, or it may cause damage. Generally, anything that might cause a leak or a fire would be too much risk to buy and expect someone else to install. Second, there is a difference in parts and all parts are not created equally. A repair shop may only install manufacture approved parts were as you might be buying parts made who knows where without any quality control whatsoever. Installing parts that are not approved by the manufacture may be voiding your warranty. Also, there is too much money to be made from selling parts to customers. Part production is a pyramid scheme with middlemen at every level. That part that makes it to the market where you pay 80 dollars probably only cost 5 dollars to make. Before you cry foul remember that that part was probably made a world away, along with millions of others just like it. That part only cost 5 dollars because millions of dollars in investments were made to bring the cost down. Is it ethical for a repair shop to charge you twice as much as what they paid for it, well that is up for debate? 
				
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="6">OEM or Aftermarket Parts</h3>
					
	
Why is the same part online for half as much, as what a repair shop wants to charge for it? Something to consider is if it is in fact the same part? In other words, many aftermarket producers make money by simply copying a part made by another company and selling it cheaper. Cheaper because they make it in a cheaper part of the world, or they make it from cheaper materials, or they don’t have the cost of research and development to recuperate from that part. Also, the repair shop has to stock parts, keep them safe, and carry them around with them until someone buys them.— all of which cost money. It is called mark up and it is part of living in an economy. What is the difference between buying original equipment manufacture (OEM) parts and aftermarket parts? The difference between OEM and aftermarket is more than a different number, although sometimes that is the only difference. Just as you can buy off-brand cereal in stores, you can buy off-brand appliance parts. The difference is sometimes where it is made, the quality of control, and how old the appliance is. Sometimes your appliance is so old that the original manufacture has gone out of business and another company makes money off making the part. Again, where there is a demand, there is a supply. Consider these points when deciding between OEM and aftermarket. 

</br> 
</br>  
1: Is my warranty going to be void if I don’t go with OEM?
</br> 
2: Is my appliance going to suffer if I use this cheaper part?
</br> 
3: Do I have the money to buy OEM?
</br> 
 </br> 
 
Some of these questions are difficult to answer and this is why you should hire a trusted repair shop that has experience dealing with these tough choices. They will be able to trim the decision into easy to digest options. 
				
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="7">What if Parts arent available anymore</h3>
					
	My Appliance has a broken part, but the part is no longer available.
Manufacturers are required to make parts but only for a certain amount of time. These laws vary by state and country. Sometimes the manufacture only makes a certain amount to fulfill their legal obligation or they pass the liability on to a third party. Look at your own state’s laws to decide if you want to pursue your rights if you feel they have been violated.
				
				</div>
			</div>
			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="8">Did my water filter cause my fridge to stop working?</h3>
					
 Your water filter is only responsible for filtering your water, unless your water is not filtered then don’t waste your money on replacing a filter. The chances of a water filter changing anything beyond your water are slim to none. Most appliances should work even without a water filter, so unless your appliance is not dispensing water or it tastes funny, don’t waste your money on a new filter. A new water filter will not fix whatever is wrong with your appliance. However, this is not to say that filtered water is not great and filters should be replaced, but when your fridge is not working don’t be so quick to think it is because you have not changed the water filter.
				
				</div>
			</div>
			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="9">Why did my appliance break?</h3>
					
	
 Building a good appliance is really the ultimate goal of any manufacture, despite our tendency to believe that corporations want to build things just so they work to the warranty period. It is surprisingly hard to build something that will not break much less build something that will break at a certain time. The best engineers work in fields that involve human safety like space flight, aviation, and medicine; despite the expertise in these fields people still die in space launches during flight and due to wrong medical practices. Your appliance was built to the best it could possibly be. And guess what, expensive appliances break too. 
				
				</div>
			</div>

</div>
<%= render 'web_calls/form', web_call: @web_call %>


	
