
<div class="container  content">
	<div class="row">
		<%= image_tag("warranty-fineprint", class:"img-fluid pb-3", alt: "Warranty fineprint look close") %>

	</div>
	<div class="row " id="title">
		<div class="col-xs lead pt-4">
					<h1>Are Extended Warranties Worth it?</h1>
		</div>
		<div class="w-100"></div>
		<div class=" col pb-4">
			<strong>By: Oscar Chairez May 03, 2015</strong>
		</div>
	</div>
	<div class="row " >
		 <div class="col-md-3 d-none d-md-block pt-4 " > 
		 	<div class="sticky-top ">
		 	
		 	<h4>Extended Warranties</h4>

		 	<ul class="legend">
				<li><a href="#1">Ask your self this</a></li>
				<li><a href="#2">How they Get ya!</a></li>
				<li><a href="#3">File a claim like a boss</a></li>
				<li><a href="#4">Hire someone Reputable</a></li>
				<li><a href="#5">Read the Fine Print</a></li>
				<li><a href="#6">Record, Repair History</a></li>
				<li><a href="#7">Types of Warranties</a></li>
			</ul>
		</div>
	    </div>


		<div class="col-md">
			
			<div class="row ">

				<div class="col-lg p-4">
					<h4 id="1">what to know about extended warranties</h4>
					
Before you add an extended warranty with your new appliance ask your-self these simple questions.
</br>
</br>
&#8226 Am I good at keeping up with warranties?
</br>
&#8226 When is the last time I used an extended warranty?
</br>
&#8226 Can I afford a 300 dollar unexpected repair?
				</div>
				<div class="w-100"></div>
				
				<div class="col-lg p-4">
					<h4 id="2">How they Get ya!</h4>
					
	If you want to know if it is worth spending an extra hundred dollars on an extended warranty for your appliance then you need to be real honest with yourself. The fact of the matter is that extended warranty companies bank on you not doing your part to get your monies worth on these extended warranties. Just as when you are tempted to spend some money during the holidays because of the big rebate that you get, but you never actually follow through with sending in that rebate. They get you when you don’t jump through their hoops, they get you when you tell yourself that is not worth the hassle. An extended warranty that makes you pay a deductible before you even have a service call is the worst, the sole purpose of a deductible is to dissuade consumers from filing claims. So much in the way that you choose car insurance, you should also take care of the type of extended warranty that you buy. There have been times as a technician when claims have been denied because of the wording in which the claim was made, or coverage has been denied because the nature of the symptom was described in a way that did not fall under the scope of the coverage. Getting out of paying for claims is how extended warranty companies make money. On that same note, I have seen 15-year-old appliances replaced because the failure of the appliance was covered and there was no way that the warranty company could get out of paying the claim.   

				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_tag("red-cross-hospital.png", class: "img-fluid img-thumbnail", alt: "red background with white medical cross ") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Applince Hospitals!</h3>
					   
					    <a href=<%= hospital_path %> class="btn btn-primary">Where do Appliances go when they are sick</a>
					  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4">
					<h4 id="3">here are the key thing to do if you want to get the most out of your extended warranty.</h4>
					
	1: file a claim: Read the contract on your extended warranty and see what is covered. Most contracts have very precise language on what will be covered and what will not. All you have to do is read it and figure out how to phrase a complaint about your appliance so that the warranty company will send someone out. If they pressure you on specifics on how and what exactly is the problem, just tell them you are not a technician and do not know what they are asking. They can not force you to tell them what they want to hear, but you can tell them enough so that they can deny your claim. I once had a warranty company deny an entire claim because they said cosmetic items were not covered even though the cosmetic item in question was only a small portion of the overall problem and did not need to be replaced. 
				</div>
				<div class="w-100"></div>
				
			<div class="col-lg p-4">
					<h4 id="4">Hire someone Reputable</h4>
					
	2: contact a technician that you trust or that has a good reputation. Often repair shops contract with warranty companies to get a set amount for any service call regardless of them  actually fix anything. So many repair shops will just go out and collect enough information to bill the warranty company and leave. These bad actors never fix anything or have any intentions of actually helping you. 
				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_tag("stove-applinace-knob-repair.png", class: "img-fluid img-thumbnail", alt: "control bar of stove or range knobs") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h3 class="card-title">Parts and Why they matter</h3>
					   
					    <a href=<%= parts_path %> class="btn btn-primary">Why do parts cost so much</a>
					  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="5">Read the Fine Print</h3>
					
	3: Know your rights. Some warranties sell extend warranties but actually piggy back off the manufacture warranty that you already paid for when you bough the appliance. For example, you buy a warranty for Bobs Appliances for an extra 5 years. At the end of 5 years you call to file a claim and they tell you that your warranty has ended, well the extended warranty was supposed to start at the end of the manufacture warranty, other wise they can’t sell you a 5 year warranty that is actually only 4 years. Read the fine print. 
				
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="6">Record, Repair History</h3>
					
	4: keep your receipts and keep records of what you have done on your appliance. Getting appliances replaced often hinge on an employee being able to check off boxes on their sheet. Each time you call to make a complaint you get someone new, this is by design. The system is built to convince you that it’s  your fault, that you are not getting the service that you deserve. Keep records so that each time you call you can tell the person on the phone that you have already jumped through all their hoops and they have a contractual obligation to uphold.  
				
				</div>
			</div>

			<div class="row">
				<div class="col-lg p-4 pb-5">
					<h3 id="7">Types of Warranties</h3>
					
	There are different types of warranties that you can buy. Some can only be bought on new appliances but give you the option to renew them after they expire. Other warranties let you buy warranties on old appliances, but there are always rules and stipulations that keep people from buying it on appliances that are already in disrepair. Warranties change the fine print all the time to keep up with developing changes in laws and they are also different between states. The best recommendation is to read the fine print; and if you do buy it then use it. There is only value in warranties if you use it. Take the time to read the warranty on the appliance before you buy it. Many manufactures already provide generous warranties. For example there may be an all inclusive warranty for one year, with 5 and 10 year warranties on other components.
				
				</div>
			</div>

</div>
<%= render 'web_calls/form', web_call: @web_call %>


	
