<p id="notice"><%= notice %></p>

<h1>Days</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Tech</th>
      <th>Status</th>
      <th>Slot1</th>
      <th>Slot2</th>
      <th>Slot3</th>
      <th>Slot4</th>
      <th>Slot5</th>
      <th>Slot6</th>
      <th>Slot7</th>
      <th>Slot8</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= day.date %></td>
        <td><%= day.tech_id %></td>
        <td><%= day.status %></td>
        <td><%= day.slot1 %></td>
        <td><%= day.slot2 %></td>
        <td><%= day.slot3 %></td>
        <td><%= day.slot4 %></td>
        <td><%= day.slot5 %></td>
        <td><%= day.slot6 %></td>
        <td><%= day.slot7 %></td>
        <td><%= day.slot8 %></td>
        <td><%= link_to 'Show', day %></td>
        <td><%= link_to 'Edit', edit_day_path(day) %></td>
        <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day', new_day_path %>
