<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Tech:</strong>
  <%= @day.tech_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @day.status %>
</p>

<p>
  <strong>Slot1:</strong>
  <%= @day.slot1 %>
</p>

<p>
  <strong>Slot2:</strong>
  <%= @day.slot2 %>
</p>

<p>
  <strong>Slot3:</strong>
  <%= @day.slot3 %>
</p>

<p>
  <strong>Slot4:</strong>
  <%= @day.slot4 %>
</p>

<p>
  <strong>Slot5:</strong>
  <%= @day.slot5 %>
</p>

<p>
  <strong>Slot6:</strong>
  <%= @day.slot6 %>
</p>

<p>
  <strong>Slot7:</strong>
  <%= @day.slot7 %>
</p>

<p>
  <strong>Slot8:</strong>
  <%= @day.slot8 %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
