
<p id="notice"><%= notice %></p>
<% content_for :javascript_packs do %>
  <%= javascript_pack_tag 'samsungcalls.js' %>
<% end %>
<h1>Samsungcalls</h1>

<table>
  <thead>
    <tr>
      <th>Fourk</th>
      <th>Name</th>
      <th>Phone1</th>
      <th>Phone2</th>
      <th>Email</th>
      <th>Address</th>
      <th>Zipcode</th>
      <th>Day</th>
      <th>Hass</th>
      <th>Status</th>
      <th>Note</th>
      <th>Flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @samsungcalls.each do |samsungcall| %>
      <tr>
        <td><%= samsungcall.fourk %></td>
        <td id=<%=  samsungcall.id %>><%= samsungcall.name %></td>
        <td><%= samsungcall.phone1 %></td>
        <td><%= samsungcall.phone2 %></td>
        <td><%= samsungcall.email %></td>
        <td><%= samsungcall.address %></td>
        <td><%= samsungcall.zipcode %></td>
        <td>
          <% if samsungcall.day.nil? %>
            No appointment
          <% else %>
            <%= samsungcall.day.date %>
          <% end %>
        </td>
        <td><%= samsungcall.hass %></td>
        <td class='status'><%= samsungcall.status %></td>
        <td><%= samsungcall.note %></td>
        <td><%= samsungcall.flag %></td>
        <td><%= link_to 'Show', samsungcall %></td>
        <td><%= link_to 'Edit', edit_samsungcall_path(samsungcall) %></td>
        <td><%= link_to 'Destroy', samsungcall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><button class="auto-schedule" data-value="<%= samsungcall.id %>"type="button">Send Auto App</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Samsungcall', new_samsungcall_path %>
<h2><i id="note-icon" class="bi bi-journal-plus"></i></h2>
<%= link_to "Logout", destroy_crew_session_path, method: :delete %>
