<p id="notice"><%= notice %></p>

<p>
  <strong>Fourk:</strong>
  <%= @samsungcall.fourk %>
</p>

<p>
  <strong>Name:</strong>
  <%= @samsungcall.name %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @samsungcall.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @samsungcall.phone2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @samsungcall.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @samsungcall.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @samsungcall.zipcode %>
</p>

<p>
  <strong>Hass:</strong>
  <%= @samsungcall.hass %>
</p>

<p>
  <strong>Status:</strong>
  <%= @samsungcall.status %>
</p>

<p>
  <strong>Note:</strong>
  <%= @samsungcall.note %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @samsungcall.flag %>
</p>

<%= link_to 'Edit', edit_samsungcall_path(@samsungcall) %> |
<%= link_to 'Back', samsungcalls_path %>
