<%= form_with(model: [@order, payment], local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="field">
    <%= form.label :payee %>
    <%= form.text_field :payee %>
  </div>

  <div class="field">
    <%= form.label :meth %>
    <%= form.text_field :meth %>
  </div>

  <div class="field">
    <%= form.label :idNum %>
    <%= form.text_field :idNum %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :other %>
    <%= form.text_field :other %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
