<p id="notice"><%= notice %></p>

<h1>Receipts</h1>

<table>
  <thead>
    <tr>
      <th>Payment</th>
      <th>Recipient</th>
      <th>Deliveryway</th>
      <th>Address</th>
      <th>Summary</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.payment.payee %></td>
        <td><%= receipt.recipient %></td>
        <td><%= receipt.deliveryway %></td>
        <td><%= receipt.address %></td>
        <td><%= receipt.summary %></td>
        <td><%= receipt.other %></td>
        <td><%= link_to 'Show Payment', order_payment_path(@payment.order_id, @payment) %></td>
        <td><%= link_to 'Edit receipt', edit_payment_receipt_path(@payment,receipt) %></td>
        <td><%= link_to 'Destroy recipt', [@payment, receipt], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt', new_payment_receipt_path(@payment) %>
