<p id="notice"><%= notice %></p>

<p>
  <strong>Payment:</strong>
  <%= @receipt.payment_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @receipt.recipient %>
</p>

<p>
  <strong>Deliveryway:</strong>
  <%= @receipt.deliveryway %>
</p>

<p>
  <strong>Address:</strong>
  <%= @receipt.address %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @receipt.summary %>
</p>

<p>
  <strong>Other:</strong>
  <%= @receipt.other %>
</p>

<%= link_to 'Edit', edit_payment_receipt_path(@payment, @receipt) %> |
<%= link_to 'Back', payment_receipts_path(@payment) %>
