<!DOCTYPE html>
<html>
  <head>
    <title>Fixit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
</style>
<script data-ad-client="ca-pub-7450763619934770" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script data-ad-client="ca-pub-7450763619934770" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

  <body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="<%=root_path %>">Appliance2020</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%=root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= helpLink_path %>">Service Now</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Self Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=https://docs.google.com/spreadsheets/d/1m9kmceqwHv4r78Nli36paEr8e-Jfm_tDZFnjw4lNZdg/edit?usp=sharing>View Availability</a>
          <a class="dropdown-item" href="<%= article_path %>">Help Articles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="<%= helpLink_path %>">Self Help</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="tel:5037828100">503-782-8100</a>
      </li>
      
    </ul>
    
  </div>
</nav>

 <%= yield %>


 <footer class="footer ">


  <div class="container-fluid fixed-bottom " id="footer" >
    <div class="row justify-content-around">
    <div class="col-xs" align="center">

      <button id="talkToTechButton" data-toggle="modal" data-target="#exampleModal">
  <i class="bi bi-tools" style="font-size: 2rem; color: red;"></i>talk to tech
</button>

      
    </div>
    <div class="col-xs " align="center">
      <a href="#" title="Placeholder link title" class="text-decoration-none">
        <strong style="font-size: 1.75em; color: red;">
        <%= @working %>
      </strong>
        <i class="bi bi-people-fill" style="font-size: 2rem; color: red;" ></i>
        <% if @working == 1 %>
        Tech Available 
        <% else %>
        Techs Available
        <% end %>
      </a>
    </div>
    
    </div>
  </div>

</footer>

    

  </body>
</html>
